<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{!-- <script src="{{script}}" defer> </script> --}}
    <link rel="stylesheet" href="{{ css1 }}">
    <link rel="stylesheet" href="{{ css2 }}">
    <link rel="stylesheet" href="{{ css3 }}">
    <link rel="stylesheet" href="{{ css4 }}">
    <script
      src="{{ script2 }}"
      crossorigin="anonymous"
    ></script>

</head>
<body>
    {{{ body }}}
</body>
</html>