<header>
    <div class="RP-app-name">
      <h1>WhenInTaft</h1>
    </div>
    <div class="toggle-bars" id="mobile-menu">
      <div class="toggle"></div>
      <div class="toggle"></div>
      <div class="toggle"></div>
    </div>
    <div class="divide-this"></div>
      
    <div class="menu-bar">
      <div class="menu-list">
        <div class="part1">
          <a href="/indexLog" id="current">HOME</a>
          <a href="/restaurant">RESTAURANTS</a>
        </div>
        <div class="menu-line"></div>
        <div class="search-container2">
         <i class="fa-solid fa-magnifying-glass fa-2x" style="color: #ceb9a7; margin-left:0.5rem;"></i>
         <form action="/SearchPage" id="searchform" method="post">
            <input
              type="text"
              placeholder="Type to search"
              name="keyword"
              id="searchBar"
            />
            <input 
              type="submit"
              value="submit"
              />
        </form>
        </div>
        <div class="menu-bar2">
          <nav>
            <ul>
              <li>
                <div class="view-profile">
                  <a href="/viewprofileU1" id="prof-page">VIEW PROFILE</a>
                  <img src="{{user.avatar}}" id="prof-pic" />
                </div>
                <div class="dropdown-m">
                  <ul>
                    <li><a href="/viewprofileU1">VIEW PROFILE</a></li>
                    <li><a href="/editProfile">EDIT PROFILE</a></li>
                    <li><a href="/">LOGOUT</a></li>
                  </ul>
                </div>
              </li>
            </ul>            
          </nav>
        </div>
      </div>
    </div>    
  </header>
  <div class="search-container">
    <input
      type="text"
      placeholder="Type to search"
      name="searchBar"
      id="searchBar"
    /><a href="/SearchPage"></a>
  </div>
  <div class="search-line"></div>
  
  <!-- END OF HEADER -->

    
    <div class="restobox-cont">
      {{#each restaurants}}
      <div class="resto-container">
        <a href="{{this.link}}"><img src="{{this.img}}" id="restaurant1" /></a>
        <div id="resto-desc">
          <p>
            {{this.desc}}
          </p>
        </div>
        <div id="resto-innerLabel">
          <p id="r-label">{{this.name}}</p>
          <div class="cont">
            <i class="fa-solid fa-star" style="color: #ffd53d;"></i>
            <p id="r-label">{{this.starRating}}</p>
          </div>
        </div>
      </div>  
      {{/each}} 

      <!-- <div id="hidden">jeje</div> -->
      
    </div>